data/
config.yaml
.idea/
.DS_Store
!testdata/*.magnet
*.db
*.log
*.log.*
*.test
dist/
/bin/
/writ
tmp/**
logs/**
auth.json
.ven/
.env
node_modules/
docs/.astro/
docs/dist/
.venv/
.stignore
.stfolder/**
